 p{
  color:black;
  font-family: 'Cardo', serif;
}
body{
  background-color:black;
}

#about {
  text-align:center;
  margin:auto;
}


h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size:3em;
  font-weight:bold;
}
h2{
  font-family: 'Josefin Sans', sans-serif;
  font-size:1.5em;
  font-style:italic;
  text-align:center;
}
h3{
  color:black;
  text-decoration-line: none;
  margin-top:10%;
}

#footer{
  color:black;
  font-family:Georgia,"Times New Roman",serif;
  font-size:0.8em;
  border-top:1px solid black;
  text-align: left;
}

#container {
      width:95%;
      background-color:#FFFFFF;
      text-align:center;
      font-family: 'Josefin Sans', sans-serif;
      margin:0 auto;
    }



.image img{
  border:0;
}

  .caption{
  color:black;
  font-family:Georgia,"Time New Roman",serif;
  font-size:0.8em;
  font-style: italic;
  margin-left:53%;
  margin-top:0;
  text-align:justify;
}

.nav {
  padding:0;
}
.nav li{
  list-style-type:none;
  float:left;
  width:25%;
}

.nav a:link, a:visited {
  display: block;
  color:black;
  background-color:#DAA520;
  font-weight:bold;
  text-align:center;
  text-decoration: none;
  padding:4px;
  font-family: 'Cardo', serif;
}

.nav a:hover, a:active{
  background-color:#fff6cc;
}

#me {
  padding:0;
  font-family: 'Cardo', serif;
  text-align:center;
}

#me li{
  text-align:center;
  list-style-type:none;
  padding:0;
  width:25%;
}

#me a:link, a:visited {
  color:black;
  font-family: 'Cardo', serif;
}

#me a:hover, a:active {
  background-color:#FFD700;
}
#second a:hover, a:active {
  background-color:#FFD700;
}
#back a:hover, a:active {
  background-color:#FFD700;
}
