 p{
  color:black;
  font-family: 'Cardo', serif;
  font-size: 1em;
}
body{
  background-color:black;
}


h1{
  font-family: 'Josefin Sans', sans-serif;
  font-size:3em;
  font-weight:bold;
  text-align:center;
}
h2{
  font-family: 'Josefin Sans', sans-serif;
  font-size:1.5em;
  font-style:italic;
  text-align:center;

}


h3{
  color:black;
  text-decoration-line: none;
  margin-top:10%;
}

#footer{
  color:black;
  font-family:Georgia,"Times New Roman",serif;
  font-size:0.8em;
  border-top:1px solid black;
  text-align: left;
}

#container {
      width:95%;
      background-color:white;
      font-family: 'Josefin Sans', sans-serif;
      margin:0 auto;
      color:black;
    }



.header{
  display:flex;
  flex-flow:column;
  font-weight:bold;
  text-align:center;
}

#top, #sub {
  flex: 1 100%;
  padding: 0px;
}

@media (min-width:800px){

      #top{
        flex:3 0px;
        flex-flow:row;
      }
      #top {
        order: 1;
      }
      #sub {
        flex:1;
      }

      #sub{
        order:2;
      }
    }

.wrapper{
  display:flex;
  flex-flow:row wrap;
  font-weight:bold;
  text-align:center;
}
.main, .caption {
      flex:1 100%;
      padding:10px;
    }

img{
      width:100%;
    }



@media (min-width:800px){

      .main{
        flex:1 0px;
      }
      .main{
        order:1;
    }
      .main{
        display:flex;
        flex-flow:row;
      }
  }


      img {
        width: 100%;
        margin-right:10px;
      }



  .me{
      display:flex;
      flex-flow:row wrap;
      font-weight:bold;
      justify-content: center;
      text-align:center;
      font-size: 2.25em;
      margin:0;
    }
 .experience, .reporter, .producer, .old {
   flex:1 100%;
   display:block;
   padding:50px;
   height:100px;
   margin:0;
 }

 .experience {
   display:block;
   background:gold;
   color:black;
   text-decoration-line: none;
 }

 .reporter {
   display:block;
   background:silver;
   padding:50px;
 }

 .producer {
   display:block;
   background:brown;
   padding: 50px;
 }

 .old {
   display: block;
   background:chocolate;
   padding:50px;
   color:black;
   text-decoration-line: none;
 }

 @media (min-width:800px){

       .experience{
         flex:1 ;
       }
       .experience {
         background:gold;
         order: 1;
       }
       .reporter {
         flex:1;
       }
       .producer {
         flex:1;
       }
       .old{
         flex:1;
       }
       .reporter{
         order:2;
         background:silver;
       }
       .producer {
         order:3;
         background:brown;
       }
       .old{
         order:4;
         background:chocolate;
       }
     }


/*
     #second, #back {
       flex:1 100%;
       display:flex;
       padding:50px;
       height:100px;
       justify-content:center;
     }
     @media (min-width:800px){
       #second {
         flex:2;
       }
       #back {
         flex:1;
       }
     }
*/

#second, #back {
  text-align:center;
}


#about {
  text-align:left;
}




  .caption{
  color:black;
  font-family:Georgia,"Time New Roman",serif;
  font-size:0.8em;
  font-style: italic;
  margin-top:0;
  text-align:justify;

}

.nav {
  list-style:none;
  margin:0;
  background:#DAA520;
  padding:0;
  display:flex;
  flex-flow:column;
  justify-content:space-around;
}
.nav li{
  text-decoration:none;
  display:block;
  padding:10px;
  color: white;
}

.nav a{
  text-decoration:none;
  display:block;
  padding:10px;
  color:white;
  text-align:center;
}

.nav a:link, a:visited {
  display: block;
  color:black;
  background-color:#DAA520;
  font-weight:bold;
  text-align:center;
  text-decoration: none;
  padding:4px;
  font-family: 'Cardo', serif;
}



@media (min-width:800px){
  .nav li{
    flex-flow:row;
    justify-content:center;
  }
  .nav a:hover, a:active{
    background-color:gray;
  }

  .nav {
    display:flex;
    flex-flow:row wrap;
    font-weight:bold;
    text-align:center;
  }




.me {
  padding:0px;
  font-family: 'Cardo', serif;
  list-style-type:none;
  text-decoration:none;
}

.me li{
  list-style-type:none;
  text-decoration:none;
  padding:0;
  width:25%;
}

.me a:link, a:visited {
  color:black;
  font-family: 'Cardo', serif;
  list-style-type:none;
  text-decoration:none;
}

.me a:hover, a:active {
  background-color:#FFD700;
}
#second a:hover, a:active {
  background-color:#FFD700;
}

#back a:hover, a:active {
  background-color:#FFD700;
}
